{% extends 'base.html.twig' %}

{% block title %}Hello DetailsController!
{% endblock %}

{% block body %}
	<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5 text-center">Another headline</h2>
			<p class="lead" style='text-align:left;'>Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</div>

		{# NEW Section #}

		<div class='container'>
				<div class="row">
					{% for kurs in kurse %}
					<div class="col-sm-6 mb-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{ kurs.name }}</h5>
								<p class="card-text">{{ kurs.info }}</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
		</div>

		{# NEW Section END #}

		<hr>

		<div class='container'>
			<div class="row">
			{% for kunde in kunden %}
			<div class="col-sm-6 mb-3">
						<div class="card">
							< class="card-body">
								<h5 class="card-title">{{ kunde.name }}</h5>
								<p class="card-text">{{ kunde.anschrift  }}</p>
								<input type='date' class='form-control' value='{{ kunde.begin|date('Y-m-d') }}'>
								<input type='date' class='form-control' value='{{ kunde.ende|date('Y-m-d') }}'>
								<a href="#" class="btn btn-primary">Go somewhere</a>
						</</div>
						</div>
					</div>
					{% endfor %}
				</div>
		</div>

	</div>

	<br>
{% endblock %}
